#color-palette {
    font-size: 0px;
    /* fonte: https://pt.stackoverflow.com/questions/226811/n%C3%A3o-consigo-colocar-uma-div-colada-na-outra */
}

.color {
    border: 1px solid  #000000;
    width: 25px;
    height: 25px;
    display: inline-block;
    padding: 0px;
}

.color:nth-of-type(1) {
    background-color:  #000000;
}

.color:nth-of-type(2) {
    background-color: #409243;
}

.color:nth-of-type(3) {
    background-color: #ff0f00;
}

.color:nth-of-type(4) {
    background-color:  #0064ff;
}